<div class="content-container">
  <h1>
    Select search parameters
  </h1>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedCurrency" name="food" placeholder="Select Currency">
      <mat-option *ngFor="let currency of currencies" [value]="currency.currencyId">
        {{currency.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepickerFilter]="maxDateFilter" [matDatepicker]="myDatepicker" placeholder="Select Date">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
  <button mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
  </button>
  <mat-card id="currency-exchange-rate">Exchange rate for Koruna: 1.587</mat-card>
</div>


